<ngb-carousel *ngIf="images">
<ng-template ngbSlide>
  <div class="wrapper">
    <img [src]="images[0]" alt="Random first slide">
  </div>
  <div class="carousel-caption">
    <h3>First Slide</h3>
    <p> Angular 10 Carousel Example </p>
  </div>
</ng-template>
<ng-template ngbSlide>
  <div class="wrapper">
    <img [src]="images[1]" alt="Random second slide">
  </div>
  <div class="carousel-caption">
    <h3>Second Slide</h3>
    <p> Check out Techiediaries</p>
  </div>
</ng-template>
<ng-template ngbSlide>
  <div class="wrapper">
    <img [src]="images[2]"  alt="Random third slide">
  </div>
  <div class="carousel-caption">
    <h3>Third Slide</h3>
    <p>for full tutorial...</p>
  </div>
</ng-template>
</ngb-carousel>

<!-- 

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-indicators">
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="https://www.addictioncenter.com/app/uploads/2020/01/online_shopping_addiction-scaled.jpeg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item active">
    <img src="https://resize.indiatvnews.com/en/resize/newbucket/715_-/2021/04/online-1617947180.jpg" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="..." class="d-block w-100" alt="...">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div> -->